.checkbox {
    -fx-padding: 0;
    -fx-background-radius: 50%;
    -fx-background-color: white;
}

.checkbox:selected .box{
    -fx-background-color: #0078d4;
}

.checkbox:selected .mark {
    -fx-background-color: white;
}

.checkbox:hover .box {
    -fx-background-color: #999999;
}
